/*body{
    background:url(../img/fondocontacto.jpg) no-repeat center center;

}*/

iframe{

 width: 100%;

}

h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
   				sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   margin-top: 30px;

}
