

.login-form{
	margin-top: 60px;
	box-shadow: 0px 0px 6px #848484;
    opacity:.80 ;
	background-color: #76d7c4
	
	;
	



}
body{

	

		background:url(../img/fondo.jpg) no-repeat center center;
	
	
	
	



}
h1{

   font-family: Woodland;

}


.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	
}